<html>
<head>
<style>

body {
  background-color: powderblue
}

.list {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: white;
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
</head>

<body><center>

<ul>
  <li><a style="color:white; float:left" class="active" href="/">Home</a></li>
  <li><a style="color:white; float:left" href="/bookmarks">Bookmarks</a></li>
  <li><form action="/sessions/destroy" method="post">
    <button style="float:right;background-color: #4CAF50" type="submit" value="Sign Out">Sign Out</button>
  </form></li>
</ul>

<h1 style="font-size:100px;">Bookmark Manager</h1>
<% if @user %>
<h1>Welcome, <%= @user.email %></h1>
<form action="/bookmarks">
  <button type="submit" value="Bookmarks" style="text-align:center; width:300px; font-size:30px;">Bookmarks</button>
</form>
<% else %>
<form action="/sessions/new">
  <button type="submit" value="Sign In" style="text-align:center; width:300px; font-size:30px;">Sign In</button>
</form>
<form action="/users/new">
  <button type="submit" value="Sign Up" style="text-align:center; width:300px; font-size:30px;">Sign Up</button>
</form>
<% end %>
<h2>
  <%= flash[:notice] %>
</h2>
</center></body></html>
